<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="404.css">
  </head>
  <body>
    <div class="container">
      <div class="text404">
        <h1>4 0 4</h1>
      </div>
      <div class="sub-text">
        <h1>Oops Something went wrong here</h1>
      </div>
      <div>
        <form action="/">
          <input type="submit" value="GO BACK" class="btn" />
        </form>
      </div>
    </div>
  </body>
</html>
