<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url shortner</title>

    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    



    <h1  id="heading">URL shortner</h1>
    <h3 id="sub-heading">URLs shorter the better.</h3>
    <div class="outer">
      <div class="inner">
        <div id="error"></div>

        <div class="div-form">
          <form id="form" onsubmit="event.preventDefault(); return false;">


            <div class="form-group">
              <label class="col-md-2 control-label">Your Url</label>
                <input type="text" class="form-control" placeholder="URL" name="url" id="form-url">
            </div>


            <div class="form-group">
              <label class=" control-label">Expiry Date</label>               
             
                <input
                        type="text"
                        name="date"
                        id="form-cal"
                        class="form-control datepicker"
                        placeholder="dd/mm/yyyy"
                        
                        onclick="{this.type='date'}"
                      
                        
                      />
                     
                </div>
            
            <div id="flex-btn">
              <button type="button" id="form-submit"  >shorten</button>
            </div>
           
          </form>
        </div>
        <div class="div-table">
          <table id="table" class="table">
            <tbody id="table-body"></tbody>
          </table>
        </div>
      </div>
    </div>


    <script src="index.js"></script>
   
  </body>
</html>
