<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>katto url</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
      }
      body {
        background-color: #cacaca;
      }
      .outer {
        background-color: blue;
        width: 100%;
        position: absolute;
        padding: 1rem;
        top: 30%;
      }
      .inner {
        background-color: green;
        width: 90%;

        margin: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-content: center; */
        /* justify-items: center; */
        justify-content: space-evenly;
        align-items: center;
      }
      .div-form {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
      }
      .div-table {
        padding: 1rem;
        width: 100%;
      }
      .long {
        white-space: nowrap;
        overflow: hidden;
        max-width: inherit;
        text-overflow: ellipsis;
        /* border: 1px solid black; */
      }
      
      #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid pink;
        flex-wrap: nowrap;
      }
      #form div {
        padding: 0.5rem;
      }
      #table {
        border: 1px solid pink;
        border-collapse: collapse;
        border: none;
        /* border-radius: 10px; */
        /* background-color: #fff; */
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      #table tr {
        background-color: #f8f8f8;
        border: 1px solid purple;
        border: none;
        padding: 0.35em;
      }
      #table th,
      #table td {
        padding: 0.625em;
        text-align: center;
      }
      @media screen and (max-width: 800px) {
  #table {
    border: 0;
  }
  #table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  #table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center; 
  }

  
}

@media screen and (max-width:400px){
  
  .shortned {
        white-space: nowrap;
        overflow: hidden;
        max-width: inherit;
        text-overflow: ellipsis;
      }
  
}
      #error {
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 0.2rem;
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- <form id="form" onsubmit="event.preventDefault(); return false;">
      <label for="url">Your Url</label>
      <input type="text" id="form-url" name="url" />

      <input type="date" id="form-cal" />
      <label for="validity">Validity of shortened url</label>
      <select name="validity" id="form-validity">
        <option value="d">1 day</option>
        <option value="w">1 week</option>
        <option value="m">1 month</option>
        <option value="y">1 year</option>
      </select>

      <input type="button" id="form-submit" value="shorten" />
    </form>
    <div class="table-container">
      <div>
        <table id="table" class="table">
          <tbody id="table-body"></tbody>
        </table>
      </div>
    </div> -->
    <h1 style="text-align: center; font-size: 4rem">URL shortner</h1>
    <h3 style="text-align: center">URLs shorter the better.</h3>
    <div class="outer">
      <div class="inner">
        <div id="error"></div>

        <div class="div-form">
          <form id="form" onsubmit="event.preventDefault(); return false;">
            <div>
              <label for="url">Your Url</label>
              <input
                type="text"
                id="form-url"
                name="url"
                placeholder="Your Url"
              />
            </div>
            <!-- <select name="validity" id="form-validity">
              <option value="d">1 day</option>
              <option value="w">1 week</option>
              <option value="m">1 month</option>
              <option value="y">1 year</option>
            </select> -->
            <div>
              <label for="date">Expiry date</label>
              <input
                type="date"
                name="date"
                id="form-cal"
                placeholder="expiry date"
              />
            </div>
            <div>
              <input type="button" id="form-submit" value="shorten" />
            </div>
          </form>
        </div>
        <div class="div-table">
          <table id="table" class="table">
            <tbody id="table-body"></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <div> //center
  <div>  //80% flex column
     form 
    table
  </div>
</div> -->

    <script src="index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
